<!-- User Profile Banner  -->
<div class="profile-banner banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">

        <% if current_user.photo? %>
          <%= cl_image_tag current_user.photo.path, class: "img-round" %>
        <% else %>
          <%= image_tag "http://via.placeholder.com/200x200", class: "img-round" %>
        <% end %>

      </div>
      <div class="col-xs-12 col-sm-8 text-left">
        <h2><%= current_user.name %></h2>
        <p><%= current_user.bio %></p>
        <%= link_to "Add an Act", new_act_path, class: "btn btn-purple-fill" %>
        <%= link_to "Edit profile", edit_user_path(current_user), class: "btn btn-purple-fill" %>
      </div>
    </div>
  </div>
</div>


<!-- Beginning of Dashboard Info  -->
<div class="wrapper-grey padded">
  <div class="container">

    <!-- Users requests of other acts (both confirmed and declined)  -->
    <div class="container">
      <h2 class="text-center">Acts You've Requested</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/bandwagon6/image/upload/v1498017597/ljiry5twke6x9yujbrkh.jpg');">
            <div class="card-category">Rock</div>
            <div class="card-description">
              <h2>Blue Magpie Band</h2>
              <p>Live Shows | Coporate Events</p>
            </div>
            <img class="card-user avatar avatar-large" src="images/hamilton.jpeg">
            <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
    </div>





    <!-- Users performances (both confirmed and declined) which are coming up -->
<!--     <div class="container">
      <h2 class="text-center">Your performances</h2>
      <div class="avatar">
        <img src="http://placehold.it/50x50" class="avatar dashboard-performances">
      </div>
      <div class="booking-information"> -->
    <!--     <h3><%# @booking.acts.name %></h3>
        <p><%# @booking.address %></p>
        <p><%# @booking.time %></p> -->
<!--       </div>
      <div class="booking-status">
        <p><%# @booking.booking_status %></p>
      </div>
    </div>
 -->


 <% if current_user %>
  <% banner_photo_path = ('images_uavnkt') %>
<% end %>





    <!-- Users Acts which they've created and manage -->
    <h2 class="text-center">Acts You've Created</h2>
    <div class="row">


        <!-- Loops through all the users acts -->
        <% current_user.acts.each do |act| %>

        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path banner_photo_path %>');">
            <div class="card-category">Rock</div>
              <div class="card-description">
                <h2><%= act.name %></h2>
                <p><%= act.genre %> | <%= act.good_for %></p>
              </div>
              <%= cl_image_tag current_user.photo.path, class: "card-user avatar avatar-large" %>
              <%= link_to "", act_path(act), class: "card-link" %>
            </div>
          </div>

        <% end %>

    </div>
  </div>
</div>



