<!-- User Profile Banner  -->
<div class="profile-banner banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
         <% if @user.photo? %>
                <%= cl_image_tag @user.photo.path, class: "img-round" %>
         <% end %>
      </div>
      <div class="col-xs-12 col-sm-8 text-left">
        <h2><%= @user.name %></h2>
        <p><%= @user.bio %></p>
        <%= link_to "Add an Act", new_act_path, class: "btn btn-purple-fill" %>
        <%= link_to "Edit profile", edit_user_path(current_user), class: "btn btn-purple-fill" %>
      </div>
    </div>
  </div>
</div>


<!-- Beginning of Dashboard Info  -->
<div class="wrapper-grey padded">
  <div class="container">

    <!-- Users requests of other acts (both confirmed and declined)  -->
    <div class="container">
      <h2 class="text-center">Acts You've Requested</h2>
      <div class="row">

        <% @bookings.each do |booking| %>

          <% if booking.act.photo? %>
            <% card_photo_path = booking.act.photo.path %>
          <% else %>
            <% card_photo_path = ('images_uavnkt') %>
          <% end %>

          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path card_photo_path %>');">
              <div class="card-category">Rock</div>
              <div class="card-description">
                <p>Booking Time: <%= booking.time %></p>
                <p>Booking Address: <%= booking.address %></p>
                <p>Name of Requested Act<%= booking.act.name %></p>
                <p>Good For: <%= booking.act.good_for %></p>
                <p>Description: <%= booking.act.description %></p>
                <p>Genre: <%= booking.act.name %></p>
              </div>

              <% if booking.act.user.photo? %>
                <%= cl_image_tag booking.act.user.photo.path, class: "card-user avatar avatar-large" %>
              <% end %>

              <a class="card-link" href="#" ></a>
            </div>
          </div>
        <% end %>
      </div>







    <!-- Users performances (both confirmed and declined) which are coming up -->
<!--     <div class="container">
      <h2 class="text-center">Your performances</h2>
      <div class="avatar">
        <img src="http://placehold.it/50x50" class="avatar dashboard-performances">
      </div>
      <div class="booking-information"> -->
    <!--     <h3><%# @booking.acts.name %></h3>
        <p><%# @booking.address %></p>
        <p><%# @booking.time %></p> -->
<!--       </div>
      <div class="booking-status">
        <p><%# @booking.booking_status %></p>
      </div>
    </div>
 -->


 <% if @user %>
  <% banner_photo_path = ('images_uavnkt') %>
<% end %>

    <!-- Users Acts which they've created and manage -->
    <h2 class="text-center">Acts You've Created</h2>
    <div class="row">

        <!-- Loops through all the users acts -->
        <% @gigs.each do |act| %>

          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path banner_photo_path %>');">
            <div class="card-category">Rock</div>
              <div class="card-description">
                <h2><%= act.name %></h2>
                <p><%= act.genre %> | <%= act.good_for %></p>
              </div>
               <% if @user.photo? %>
              <%= cl_image_tag @user.photo.path, class: "card-user avatar avatar-large" %>
              <% end %>
              <a class="card-link" href="#" ></a>
            </div>
          </div>

        <% end %>

    </div>
  </div>
</div>



