<!-- User Profile Banner  -->
<div class="profile-banner padded text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
         <% if @user.photo? %>
          <%= cl_image_tag @user.photo.path, class: "dashboard-img-round" %>
        <% else %>
          <img src="http://placehold.it/200x200" class="dashboard-img-round">
         <% end %>
      </div>
      <div class="col-xs-12 col-sm-8 text-left text-white">
        <h2><%= @user.name %></h2>
        <p class="dashboard-bio"><%= @user.bio %></p>
      </div>
    </div>
  </div>
</div>


<% if @user %>
  <% banner_photo_path = ('images_uavnkt') %>
<% end %>
<!-- Beginning of Dashboard Info  -->
<div class="wrapper-grey padded">
  <div class="container">

    <h2 class="text-center">Acts</h2>
    <div class="dashboard-cards row">
        <!-- Loops through all the users acts -->
        <% @user.acts.each do |act| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path banner_photo_path %>');">
            <div class="card-category">Rock</div>
              <div class="card-description">
                <h2><%= act.name %></h2>
                <p><%= act.genre %> | <%= act.good_for %></p>
              </div>
               <% if @user.photo? %>
              <%= cl_image_tag @user.photo.path, class: "card-user avatar avatar-large" %>
              <% end %>
              <a class="card-link" href="#" ></a>
            </div>
          </div>
        <% end %>
    </div>

  </div>
</div>
