<div id="index-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('banner2.jpg') %>);">
  <div class="banner-content">
    <div id="index-heading">
      <h1>Find the perfect band</h1>
    </div>
  </div>
</div>

<div class="options-section">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1 text-center">
        <h4 class="text-turqoise"> Find Acts by Genre </h4>
          <%= link_to "Rock", acts_path(:genre=>"Rock"), class: "btn btn-turqoise button-top-margin" %>
          <%= link_to "Rap", acts_path(:genre=>"Rap"), class: "btn btn-turqoise button-top-margin" %>
          <%= link_to "Jazz", acts_path(:genre=>"Jazz"), class: "btn btn-turqoise button-top-margin" %>
          <%= link_to "Acoustic", acts_path(:genre=>"Acoustic"), class: "btn btn-turqoise button-top-margin" %>
          <%= link_to "Punk", acts_path(:genre=>"Punk"), class: "btn btn-turqoise button-top-margin" %>
          <%= link_to "Pop", acts_path(:genre=>"Pop"), class: "btn btn-turqoise button-top-margin" %>

      </div>
      <div class="col-xs-12 col-sm-5 text-center">
        <h4 class="text-purple"> Find An Act That's Good For </h4>
          <%= link_to "Weddings", acts_path(:good_for=>"Weddings"), class: "btn btn-purple button-top-margin" %>
          <%= link_to "Events", acts_path(:good_for=>"Events"), class: "btn btn-purple button-top-margin" %>
          <%= link_to "Birthdays", acts_path(:good_for=>"Birthdays"), class: "btn btn-purple button-top-margin" %>
          <%= link_to "Festivals", acts_path(:good_for=>"Festivals"), class: "btn btn-purple button-top-margin" %>
          <%= link_to "Parties", acts_path(:good_for=>"Parties"), class: "btn btn-purple button-top-margin" %>
        </div>
    </div>
  </div>
</div>


<div class="wrapper" id="cards-section">
  <div class="container">
    <div class="row">
      <% @acts.reverse[0..20].each do |act| %>

        <% if act.photos? %>
          <% card_photo_path = act.photos.first.path %>
        <% else %>
          <% card_photo_path = ('beatles.jpg') %>
        <% end %>

        <div class="col-xs-12 col-sm-4">
         <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path card_photo_path %>');">

            <div class="card-description">
              <h2><%= act.name %></h2>
              <p><%= act.genre %> | <%= act.good_for %></p>
            </div>
            <%= link_to "", act_path(act), class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
