<div class="options-section">
  <div class="container">
    <h2 align="center">Find the perfect act</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 text-center">
        <h4> Find Acts by Genre </h4>
          <%= link_to "Rock", acts_path(:genre=>"Rock"), class: "btn btn-turqoise" %>
          <%= link_to "Rap", acts_path(:genre=>"Rap"), class: "btn btn-turqoise" %>
          <%= link_to "Acoustic", acts_path(:genre=>"Acoustic"), class: "btn btn-turqoise" %>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <h4> Find An Act That's Good For </h4>
          <%= link_to "Weddings", acts_path(:good_for=>"Weddings"), class: "btn btn-purple" %>
          <%= link_to "Festivals", acts_path(:good_for=>"Festivals"), class: "btn btn-purple" %>
          <%= link_to "Parties", acts_path(:good_for=>"Parties"), class: "btn btn-purple" %>
        </div>
    </div>
  </div>
</div>


<div class="wrapper" id="cards-section">
  <div class="container">
    <div class="row">
      <% @acts.each do |act| %>
        <div class="col-xs-12 col-sm-4">
         <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url(<%= image_path('beatles.jpg') %>)">

      <!-- @Amin...here's the new card div with attachinary,...need to update for our models tho -->
      <!--     <div class="card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                   url('<%# cl_image_path @product.photo.path, height: 300, width: 400, crop: :fill %>')">
            -->

            <div class="card-description">
              <!-- <h2><%= link_to act.name, act_path(act) %></h2> -->
              <h2><%= act.name %></h2>
              <p><%= act.good_for %></p>
              <p><%= act.genre %></p>
            </div>
            <%= link_to "", act_path(act), class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
