<h2> Find Acts by Genre </h2>
  <%= link_to "Rock", acts_path(:genre=>"Rock") %>
  <%= link_to "Rap", acts_path(:genre=>"Rap") %>
  <%= link_to "Acoustic", acts_path(:genre=>"Acoustic") %>
<h2> I Want An Act That's Good For: </h2>
  <%= link_to "Weddings", acts_path(:good_for=>"Weddings") %>
  <%= link_to "Festivals", acts_path(:good_for=>"Festivals") %>
  <%= link_to "Parties", acts_path(:good_for=>"Parties") %>
<%= link_to "Add a new act", new_act_path %>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <% @acts.each do |act| %>
        <div class="col-xs-4">
          <div class="card">
            <div class="card-description">
              <h2><%= link_to act.name, act_path(act) %></h2>
              <p>Good For: <%= act.good_for %></p>
              <p>Genre: <%= act.genre %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
