<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('bandbannerimage.jpg') %>);">
  <div class="banner-content">
    <h1>Bandwagon</h1>
    <p>Book a musical act for your next event</p>
    <% if user_signed_in? %>
    <%= link_to "Book an act", '#cards-section', class: "btn purple-banner-button" %>
    <%= link_to "Get your act booked", new_act_path, class: "btn turqoise-banner-button" %>
    <% else %>
    <%= link_to "Sign up!", new_user_registration_path, class: "btn purple-banner-button" %>
    <% end %>
  </div>
</div>

<div class="options-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 text-center">
        <h4> Find Acts by Genre: </h4>
          <%= link_to "Rock", acts_path(:genre=>"Rock"), class: "btn btn-turqoise" %>
          <%= link_to "Rap", acts_path(:genre=>"Rap"), class: "btn btn-turqoise" %>
          <%= link_to "Acoustic", acts_path(:genre=>"Acoustic"), class: "btn btn-turqoise" %>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <h4> Find An Act That's Good For: </h4>
          <%= link_to "Weddings", acts_path(:good_for=>"Weddings"), class: "btn btn-purple" %>
          <%= link_to "Festivals", acts_path(:good_for=>"Festivals"), class: "btn btn-purple" %>
          <%= link_to "Parties", acts_path(:good_for=>"Parties"), class: "btn btn-purple" %>
        </div>
    </div>
  </div>
</div>


<div class="wrapper" id="cards-section">
  <div class="container">
    <div class="row">
      <% @acts.each do |act| %>
        <div class="col-xs-12 col-sm-4">
         <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url(<%= image_path('beatles.jpg') %>)">

      <!-- @Amin...here's the new card div with attachinary,...need to update for our models tho -->
      <!--     <div class="card"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                   url('<%# cl_image_path @product.photo.path, height: 300, width: 400, crop: :fill %>')">
            -->

            <div class="card-description">
              <h2><%= link_to act.name, act_path(act) %></h2>
              <p>Good For: <%= act.good_for %></p>
              <p>Genre: <%= act.genre %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
