<!-- <div class="wrapper">
  <div class="container">
    <div class="row">

      # Boilerplate for the show page

    </div>
  </div>
</div> -->


<!-- Checks if act has a photo.  if not, then will use beatles as placeholder -->
<% if @act.photos? %>
  <% banner_photo_path = @act.photos.first.path %>
<% else %>
  <% banner_photo_path = ('images_uavnkt') %>
<% end %>



<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path banner_photo_path %>');">
</div>


<div class="container padded">
  <div class="media">
    <div class="media-body">

    <div class="name">
      <h1><%= @act.name %></h1>
    </div>

    <div class="categories">
      <h3><%= @act.genre %> | <%= @act.good_for %></h3>
    </div>

    <div class="media-section">
      <h4>GALLERY</h4>
      <div class="gallery-section">
        <div class="row">
          <!-- Loops through all the users photos -->
          <% @act.photos.each do |photo| %>
            <div class="col-xs-4 gallery-image">
              <%= cl_image_tag photo.path, height: 200, width: 200, crop: :lfill %>
            </div>
          <% end %>

        </div>
      </div>
    </div>

    <div class="media-section">
      <h4>FOLLOW <%= @act.name.upcase %></h4>
      <div class="socials">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="media-section">
      <h4>DESCRIPTION</h4>
      <div class="description">
        <p><%= @act.description %></p>
      </div>
    </div>

    <div class="media-section">
      <h4>LISTED BY</h4>
      <div class="listed-by">
        <p><%= @act.users_id %></p>
        <%= link_to "Learn more", user_path(@act.users_id), class: "btn purple-banner-button" %>
      </div>
    </div>
  </div>

<!-- Update later with samples and reviews -->
    <!-- <div class="media-section">
      <h4>SAMPLES</h4>
      <div class="samples">
      </div>
    </div> -->

    <div class="media-aside">
      <div class="media-section">
        <% if current_user && current_user.id == @act.user_id %>
          <h2><%= link_to "Edit Act", edit_act_path, class: "booking-btn btn-block btn-turqoise text-center" %></h2>
        <% else %>
          <%= render :partial => 'bookings/form', locals: {act: @act, booking: Booking.new } %>
        <% end %>
      </div>
    </div>
  </div>

    <div class="media-section-reviews">
      <h4>REVIEWS</h4>
      <div class="reviews">
      <div class="rating">
        <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
      </div>
        <p>
          The guys were great! Such a hit, kept the dancefloor full, set up quickly, really well organised beforehand - can't fault them!
        </p>
        <br>
      <div class="rating">
        <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
      </div>
        <p>
        Hired these guys for my 30th birthday party and thought they were absolutely amazing.
        </p>
        <br>
      <div class="rating">
        <span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span><span>&#9733;</span>
      </div>
        <p>
          I booked this band for my wedding in September. I have to say they were fantastic, the dance floor was full all night, they played a huge rage of music and made my night. Could not have wished for better. Thankyou so much to everyone involved in making my wedding day so enjoyable.
        </p>
      </div>
    </div>

</div>

<!-- @Kiki,....here's the code for displaying user uploaded photos...Need to revise for our models -->
<!--   <%# @product.photos.each do |photo| %>
    <%# cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
  <%# end %> -->
