<!-- <div class="wrapper">
  <div class="container">
    <div class="row">

      # Boilerplate for the show page

    </div>
  </div>
</div> -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('http://res.cloudinary.com/bandwagon6/image/upload/ljiry5twke6x9yujbrkh') %>');">
</div>

<!-- <div class="booking-form">
  <form action="#" class="form-inline">
    <input type="text" class="form-control input-lg" placeholder="date of event">
    <input type="text" class="navbar-wagon-search-input" placeholder="address">
      <i class="fa fa-search"></i>
    <input type="submit" class="btn btn-primary btn-lg" value="Search">
  </form>
</div> -->

<div class="container">
  <div class="name">
    <h1><%= @act.name %></h1>
  </div>

  <div class="categories">
    <h3><%= @act.genre %> | <%= @act.good_for %></h3>
  </div>

  <div class="socials">
    <ul class="list-inline">
      <li><a href=""><i class="fa fa-youtube"></i></a></li>
      <li><a href=""><i class="fa fa-instagram"></i></a></li>
      <li><a href=""><i class="fa fa-facebook"></i></a></li>
      <li><a href=""><i class="fa fa-twitter"></i></a></li>
    </ul>
  </div>

  <div class="description">
    <p><%= @act.description %></p>
  </div>

<!-- @Kiki,....here's the code for displaying user uploaded photos...Need to revise for our models -->
<!--   <%# @product.photos.each do |photo| %>
    <%# cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
  <%# end %> -->

  <div class="samples">
  </div>

  <div class="reviews">

  </div>

</div>
